
.main {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.post {
    display: flex;
    border: 1px solid #eaecee;
    border-radius: 8px;
    min-height: 200px;
    overflow: hidden;
    width: 100%;
    transition: all 0.25s ease;
    cursor: pointer;
    margin-top: 24;
}

.post:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 2rem 5rem rgba(0,0,0,.1);
}


.post-image {
    flex-basis: 40%;
    min-width: 40%;
    overflow: hidden;   
}

.post-content {
    flex-basis: 60%;
    padding: 24px;
}

.post-date {
    font-size: 12px;
    color: #adb5bd;
    font-weight: 600;


}

.post-title {
    margin-top: 16px;
    font-size: 1.5em;
    color: #333;
    font-weight: 600;
}

.post-title h4 {
    margin: 0;
}

.post-text {
    margin-top: 4px;
    color: #495057;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
    max-height: 65px;
    overflow: hidden;
    
}
