.header-style {
    min-height: 350px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../pictures/banner.jpeg") no-repeat center center;
    background-size: cover;
    background-position: center;  
    position: relative;
}

.header-style > * {
    z-index: 10;
}


.header-style::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-img {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;    
    background: url("../../pictures/dog.jpeg") no-repeat center center;
    background-size: cover;
    
}

.profile-name {
    font-size: 3em;
    font-weight: bold;
}

.subtext {
    margin-top: 8px;
}
